* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    position: sticky;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.logo {
    margin-right: 8px;
    width: 340px;
    height: 250px;
    border-radius: 150px;
    position: absolute;
    padding: 0 0 0 25px;
    z-index: 2;
    object-fit: cover;
}

.left_logo_fill {
    display: flex;
    background-color: black;
    position: absolute;
    height: 312%;
    width: 130px;
    z-index: 0;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
    margin: 0 40px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, red 0%, orange);
    color: white;
}

.button:hover {
    background: purple;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: red;
    transition: all 0.3s ease;
}

.service__list {
    display: flex;
    justify-content: center;
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(79, 85, 97, 0.5);
}

.service__image {
    position: absolute;
    opacity: .35;
    height: 100%;
    width: 100%;
    object-fit:fill;
}

.service__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 1000px;
    color: black;
    font-size: 1.8rem;
    z-index: 5;
    position: relative;
    line-height: 2.2rem;
}

.service__line .title {
    padding: 20px 0;
}

.service__line p {
    margin-top: 30px;
}

.service__item__desc {
    margin: 0 30px;
}

.contact__us {
    background-color: #db680a;
    color: white;
    padding: 20px 20px;
    margin-top: auto; /* Pushes the contact section to the bottom */
    text-align: center;
}

.contact__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.contact__info {
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.logo__footer {
    width: 300px;
    height: 220px;
    border-radius: 150px;
    margin: 15px 15px 0 15px;
}

@media (max-width: 900px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .logo.active {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .left_logo_fill.active {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .logo {
        padding-left: 25px;
        z-index: 100;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 30%;
        margin: 0 0 0 35%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        cursor: pointer;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 623px) {
    .contact__container {
        justify-content: center;
    }
}

@media (max-width: 1120px) {
    
    .service__line {
        margin-top: 160px;
    }

    .service__image {
        display: none;
    }

    .mobile__service__image {
        display: block;
        position: absolute;
        opacity: .35;
        height: 100%;
        width: 100%;
        object-fit:fill;
    }
}